DYNAMODB_ENDPOINT=http://localhost:8000
DYNAMODB_REGION=us-east-1
AWS_ACCESS_KEY_ID=fakeMyKeyId
AWS_SECRET_ACCESS_KEY=fakeSecretAccessKey
JWT_SECRET=sua-chave-secreta-aqui-troque-em-producao
JWT_ALGORITHM=HS256
TOKEN_EXPIRE_MINUTES=30
BC_API_URL=https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata
HMAC_SECRET=sua-chave-hmac-secreta-aqui-troque-em-producao
SNAPSHOT_INTERVAL_HOURS=24
